/* custom styles for dashboard */
.dashboard {
    .el-row {
        margin-bottom: $dashboardRowMgBottom;
    }
    .bottom-list-items {
        .board-title {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .left-item {
            display: inline-flex;
            align-items: center;
        }
    }
    .board-title {
        font-size: $boardTitleFs;
        font-weight: bold;
        margin-bottom: 20px;
        .el-select {
          width: 160px;
        }
    }
      
    .load-more {
        float: right;
        font-size: 15px;
        color: $blue50;
        padding-top: 10px;
    }
      
    .trans-status-board, .settle-status-board {
        .svg-icon {
          width: 3em;
          height: 3em;
        }
    }
    .worker-chart {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -15px;
        .el-select {
          width: 120px;
        }
    }
}