@font-face{
  font-family:NanumSquareRound;
  font-style:normal;
  font-weight:300;
  src:local("NanumSquareRoundL"),url(../font/NanumSquare/NanumSquareL.eot),url(../font/NanumSquare/NanumSquareL.eot?#iefix) format("embedded-opentype"),url(../font/NanumSquare/NanumSquareL.woff) format("woff"),url(../font/NanumSquare/NanumSquareL.ttf) format("truetype")
}
@font-face{
  font-family:NanumSquareRound;
  font-style:normal;
  font-weight:400;
  src:local("NanumSquareRoundR"),url(../font/NanumSquare/NanumSquareR.eot),url(../font/NanumSquare/NanumSquareR.eot?#iefix) format("embedded-opentype"),url(../font/NanumSquare/NanumSquareR.woff) format("woff"),url(../font/NanumSquare/NanumSquareR.ttf) format("truetype")
}
@font-face{
  font-family:NanumSquareRound;
  font-style:normal;
  font-weight:700;
  src:local("NanumSquareRoundB"),url(../font/NanumSquare/NanumSquareB.eot),url(../font/NanumSquare/NanumSquareB.eot?#iefix) format("embedded-opentype"),url(../font/NanumSquare/NanumSquareB.woff) format("woff"),url(../font/NanumSquare/NanumSquareB.ttf) format("truetype")
}
@font-face{
  font-family:NanumSquareRound;
  font-style:normal;
  font-weight:800;
  src:local("NanumSquareRoundEB"),url(../font/NanumSquare/NanumSquareEB.eot),url(../font/NanumSquare/NanumSquareEB.eot?#iefix) format("embedded-opentype"),url(../font/NanumSquare/NanumSquareEB.woff) format("woff"),url(../font/NanumSquare/NanumSquareEB.ttf) format("truetype")
}
